player/bin/data/_movies
player/bin/data/movies
openframeworks/libs/openFrameworksCompiled/lib
openframeworks/apps/myApps/ACP_osx/bin/*.app
openframeworks/apps/myApps/ACS_osx/bin/*.app
player/bin/data/static/CinetMed.ttf
player/bin/data/static/CinetGui.ttf
server/bin/data/CinetMed.ttf
