player/bin/data/_movies
player/bin/data/movies
openframeworks/libs/openFrameworksCompiled/lib
openframeworks/apps/myApps/ACP_osx/bin/ACPDebug.app
openframeworks/apps/myApps/ACS_osx/bin/ACSDebug.app
*.ttf
player/bin/data/static/CinetMed.ttf

server/bin/data/CinetMed.ttf
