[submodule "openFrameworks"]
	path = openframeworks
	url = https://github.com/openframeworks/openFrameworks
[submodule "openframeworks/addons/ofxGaplessVideoPlayer"]
	path = openframeworks/addons/ofxGaplessVideoPlayer
	url = https://github.com/urshofer/ofxGaplessVideo
